@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --value: 33%;
    --value2: 66%;
    --value3: 99%;
    --back-color: #EBECF0;
}

body {
    background-color: var(--back-color);
    text-align: center;
    justify-content: center;
}

button:active {
    transform: translateY(4px);
}

#Arr_left {
    width: 4%;
    margin-right: 2%;
}

#Arr_right {

    width: 10%;
    margin-left: 2%;
}


.cls-1 {
    fill: none;
    stroke: #dc3545;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    width: 5%;
}
#check{
    width: 20%;
}
.check {
    fill: none;
    stroke: #ED1C24;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

input {
    margin: 10px;
}

.btn {
    width: 60%;
}

.btn:hover {
    opacity: 0.7;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);

}

.slider {
    width: 80%;
    position: fixed;
    Z-INDEX: 2000;
    bottom: 78vh;
}

.center {
    margin-left: 10%;
    margin-right: 10%;
}

.centerNotes {
    margin-left: auto;
    margin-right: auto;
}

.fullwidth {
    width: 100%;
}

.halfwidth {
    width: 100%;
}

.neumorphic-btn:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.neumorphic-btn:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.neumorphic-btn {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: medium;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    color: #6D7587;
    background-color: var(--back-color);
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
}

.neumorphic-progress, .neumorphic-slider {
    width: 80%;
}

.textarea {
    background-color: #FFFFFF;
    border-radius: 2em;
    border: #F2F2F2 4px solid;
    resize: none;
    padding: 1em;
    max-width: 100%;
}

.neumorphic-progress__back, .neumorphic-slider__back {
    height: 24px;
    background-color: var(--back-color);
    border-radius: 10px;
    border: 4px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-slider {
    width: 80%;
    /*margin: 1em 7em 1em 7em;*/
}

.neumorphic-slider__back {
    width: calc(100% + 20px);
    margin-left: -10px;
}

.neumorphic-progress__line {
    width: var(--value3);
    height: 16px;
    background-color: #DC3545;
    margin-top: -20px;
    margin-left: 4px;
    border-radius: 8px;
    opacity: 1;
    animation: sliding 3s ease infinite;
}

@keyframes sliding {
    0% {
        width: 0;
    }
    100% {
        width: calc(100% - 8px);
    }
}

.neumorphic-slider {
    position: relative;
    margin-top: 2%;
}

.neumorphic-slider__line {
    height: 16px;
    background-color: #DC3545;
    margin-top: -20px;
    margin-left: -6px;
    border-radius: 8px;
    opacity: 1;
    width: calc(var(--value3) + 15px);
}

.neumorphic-slider__thumb {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), 0px 0px 15px rgba(55, 84, 170, .3);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--back-color);
    left: var(--value);
    top: 2px;
    margin-left: -10px;
    cursor: pointer;
}

.neumorphic-slider__thumb:nth-child(4) {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), 0px 0px 15px rgba(55, 84, 170, .3);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--back-color);
    left: var(--value2);
    top: 2px;
    margin-left: -10px;
    cursor: pointer;
}

.neumorphic-slider__thumb:nth-child(5) {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), 0px 0px 15px rgba(55, 84, 170, .3);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--back-color);
    left: var(--value3);
    top: 2px;
    margin-left: -10px;
    cursor: pointer;
}


.neumorphic-slider__popover {
    position: absolute;
    background-color: var(--back-color);
    left: var(--value);
    width: 60px;
    height: 40px;
    top: -60px;
    margin-left: -30px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2);
    color: #6D7587;
    padding: 8px 0;
}

.neumorphic-slider__popover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: var(--back-color) transparent transparent transparent;
}

.row {
    display: block;
    overflow: hidden;
}


.label {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    margin: auto 0;
}

.neumorphic-text {
    color: #BABECC;
    letter-spacing: 5px;
    font-size: xx-large;
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    margin: 1em 0;
    text-shadow: 1px 1px 1px #FFF;
}

.neumorphic-checkbox {
    padding: 20px;
    position: relative;
    margin: 0 5px;
    transition: all .25s ease;
}

.neumorphic-checkbox::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #a3aab9;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}

.neumorphic-checkbox_active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-checkbox_active::after {
    background-color: #a3aab9;
}

.neumorphic-card {
    display: block;
    background-color: var(--back-color);
    padding: 40px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 30px;
    max-width: 300px;
    width: min-content;
}

.neumorphic-card__title {
    color: #555F76;
    font-size: xx-large;
    padding: 20px 0 10px;
    text-align: start;
}

.neumorphic-card__text {
    padding: 0 0 10px;
    text-align: start;
    color: #8D96A8;
}

.neumorphic-card__outer {
    background-color: #f3f4f7;
    border-radius: 10px;
    border: 5px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    margin: -5px;
}

.neumorphic-label {
    color: #868b98;
    display: block;
    text-align: start;
    margin: 25px 10px 5px;
}

.neumorphic-input {
    background-color: var(--back-color);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 0px rgba(55, 84, 170, .15),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    padding: 5px 15px;
    outline: none !important;
    color: #535D74;
    width: 100%;
}

.neumorphic-input ::-webkit-input-placeholder { /* Edge */
    color: #00000040;
}

.neumorphic-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00000040;
}

::placeholder {
    color: #00000040;
}


.neumorphic-image {
    border-radius: 10px;
}

.neumorphic-image__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid var(--back-color);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 3px 3px 5px rgba(55, 84, 170, .15),
    inset -3px -3px 5px rgba(255, 255, 255, .5),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.neumorphic-image__placeholder {
    color: #565e74;
    font-size: 30px;
    padding: 25px 0 0 0;
}

.card-collection .neumorphic-card {
    display: inline-block;
    margin: 0 10px !important;
}

.neumorphic-outer {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    background-color: var(--back-color);
    border-radius: 30px;
}

.neumorphic-inner {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, .15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
    border-radius: 35px;
    position: relative;
    overflow: scroll;
    width: 95vw;
    height: 95vh;
    margin: 5% auto auto;
}

.neumorphic-tab-container {
    display: flex;
    flex-direction: column;
}

.neumorphic-tab-container__controls {
    display: flex;
    border: 4px solid var(--back-color);
    width: min-content;
    background-color: var(--back-color);
    border-radius: 15px;
    margin-bottom: 15px;
}

.neumorphic-tab-container__control {
    padding: 10px 10px;
    color: #535D74;
    background-color: var(--back-color);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, .2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0);
    transition: box-shadow .4s ease;
    cursor: pointer;
}

.neumorphic-tab-container__control:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.neumorphic-tab-container__control:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.neumorphic-tab-container__control_active {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1);
}

.neumorphic-tab-container__tab {
    display: none;
    padding: 20px;
}

.neumorphic-tab-container__tab_shown {
    display: flex;
}

/*calendar*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.app-container {
    border-radius: 4px;
    overflow: hidden;
    width: 720px;
    height: auto;
    max-width: 100%;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto auto 10% auto;
}

/* Datepicker Stuff */
.datepicker {
    position: relative;
    width: 100%;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    -webkit-transition: background 0.15s ease;
    transition: background 0.15s ease;
}

.datepicker.am {
    background: --back-color;
}

.datepicker.pm {
    background: #0DAD83;
}

.datepicker-header {
    width: 100%;
    color: white;
    overflow: hidden;
}

.datepicker-title {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-align: left;
    font-size: 20px;
}

.datepicker-subheader {
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding: 0 15px;
    text-align: right;
}

.datepicker-calendar {
    width: 100%;
    float: left;
    padding: 20px 15px 15px;

    display: block;
}

.calendar-header {
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    position: relative;
}

.current-month-container {
    display: inline-block;
    height: 30px;
    position: relative;
}

.goback,
.goforward {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -4px;
}

.goback path,
.goforward path {
    -webkit-transition: stroke 0.15s ease;
    transition: stroke 0.15s ease;
}

.goback {
    float: left;
    margin-left: 3.8%;
}

.goforward {
    float: right;
    margin-right: 3.8%;
}

.calendar-day-header {
    width: 100%;
    position: relative;
}

.day-label {
    color: #8A8A8A;
    padding: 5px 0;
    width: 14.2857142%;
    display: inline-block;
    text-align: center;
}

.datecontainer {
    float: left;
    width: 14.2857142%;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
}

.datenumber {
    max-width: 35px;
    max-height: 35px;
    line-height: 35px;
    margin: 0 auto;
    color: #8A8A8A;
    /*position: relative;*/
    text-align: center;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
    transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}

.no-hover .datenumber,
.no-hover .datenumber:hover,
.no-hover .datenumber:before,
.no-hover .datenumber:hover::before {
    cursor: default;
    color: #8A8A8A;
    background: transparent;
    opacity: 0.5;
}

.no-hover .datenumber.day-selected {
    color: white;
}

.datenumber:hover {
    color: black;
    background-color: #EBECF0;
    border-radius: 50%;
}


.datenumber:hover::before {
    background: #EBECF0;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.day-selected {
    color: black;
    font-size: 22px;
    background-color: #EBECF0;
    border-radius: 50%;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0), inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.datenumber.day-selected:before {
    background: #F2F2F2;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: select-date .25s forwards;
    animation: select-date .25s forwards;
}

@-webkit-keyframes select-date {
    0% {
        background: #FFAB91;
    }
    100% {
        background: #FF6E40;
    }
}

@keyframes select-date {
    0% {
        background: #FFAB91;
    }
    100% {
        background: #FF6E40;
    }
}

/* timepicker styles */
.timepicker-container-outer {
    width: 50%;
    max-width: 700px;
    float: left;
    display: block;
    padding: 40px 30px 30px;
    position: relative;
    top: 50px;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease;
    transition: background 0.15s ease;
}

.timepicker-container-inner {
    width: 100%;
    height: 100%;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.timeline-container {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 36px;
}

.timeline {
    display: block;
    z-index: 1;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.
.timeline::after {
    left: auto;
    right: -1px;
}

.datepicker.am .datepicker-header {
    color: white;
    background: #0DAD83;
}

.datepicker.am .current-time::after {
    background: #0DAD83;
}

.datepicker.am .actual-time {
    color: white;
}

.datepicker.am .display-time {
    color: #FF6E40;
}

.datepicker.am .time-input {
    color: #FF693C;
}

.datepicker.am .time:after {
    background: #FF693C;
}

.datepicker.am .increment-time path,
.datepicker.am .decrement-time path {
    stroke: #FF693C;
}

.datepicker.pm .datepicker-header {
    background: white;
    color: #FF693C;
}

.datepicker.pm .datepicker-subheader {
    color: #0DAD83;
}

.datepicker.pm .goback:before,
.datepicker.pm .goback:after,
.datepicker.pm .goforward:before,
.datepicker.pm .goforward:after {
    background: white;
}

.datepicker.pm .day-label {
    color: white;
}

.datepicker.pm .datenumber {
    color: white;
}

.datepicker.pm .datenumber:hover::before {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.datepicker.pm .datenumber.day-selected {
    color: #FF693C;
}

.datepicker.pm .datenumber.day-selected:before {
    background: white;
    -webkit-animation: select-date-pm .25s forwards;
    animation: select-date-pm .25s forwards;
}

.datepicker.pm .current-month-container {
    color: white;
}

.datepicker.pm .current-time::after {
    background: white;
}

.datepicker.pm .actual-time {
    color: #FF6E40;
}

.datepicker.pm .display-time {
    color: white;
}

.datepicker.pm .timeline::before, .datepicker.pm .pm .timeline::after {
    background: white;
}

.datepicker.pm .hour-mark {
    background: white;
}

.datepicker.pm .am-pm-button:last-child {
    color: #FF6E40;
}

.datepicker.pm .cancel-button {
    background: none;
    color: white;
}

.datepicker.pm .save-button {
    background: white;
    color: #FF693C;
}

.datepicker.pm .goback path,
.datepicker.pm .goforward path {
    stroke: white;
}

.datepicker.pm .time-input:focus ~ .formatted-time {
    background: white;
    color: #FF693C;
}

.datepicker.compact .datepicker-title,
.datepicker.compact .datepicker-subheader {
    width: 100%;
    text-align: center;
}

.datepicker.compact .datepicker-title {
    height: 50px;
    line-height: 50px;
}

.datepicker.compact .datepicker-subheader {
    height: 30px;
    line-height: 30px;
}

.datepicker.compact .display-time {
    width: 60%;
    font-size: 20px;
    line-height: 36px;
}

.datepicker.compact .app-container {
    width: 100%;
}

.datepicker.compact .datepicker-calendar {
    width: 100%;
    margin: 0 auto;
    float: none;
}

.datepicker.compact .timepicker-container-outer {
    width: 100%;
    margin: 0 auto;
    float: none;
    top: -15px;
}

.datepicker.compact .buttons-container {
    position: relative;
    float: right;
}

.button-down {
    width: 50%;
}

.button {
    width: 100%;
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px rgba(55, 84, 170, .15), inset 0px 0px 0px rgba(255, 255, 255, 1) !important;
}

.bottom-row {
    Z-index: 3000;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    padding: 1% 5%;
    background-color: #DC3545;
}

